<div class='video'>
    <div class='video__logo-spacing'>
    </div>
    <div class='video__content'>
        <div class='gs-container'>
            <div class='video__content-inner'>
                <h1 class='video__headline'>Liquid genocide: alcohol destroyed Pine Ridge reservation - then they fought back</h1>
                <p class='video__standfirst'>For years, 11,000 cans of beer a day were poured into the Pine Ridge Indian reservation, causing untold damages. This summer, it stopped</p>
            </div>
        </div>
    </div>

    <div class='video__video'>
        <video class="video__preview" muted loop autoplay playsinline>
            <source src="@@assetPath@@/assets/loop.mp4" type="video/mp4" />
        </video>

        <iframe class='video__embed' width="560" height="315" src="https://www.youtube.com/embed/FoKF8H1l7NU" frameborder="0" allowfullscreen></iframe>

        <div class='video__cta'>
            <div class='gs-container'>
                <div class='video__cta-inner'>
                    <div class="video__button">
                        <svg class="video__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231 193.4"><path id="Combined-Shape" fill="#005689" d="M8.2 0L231 92.1v10L8.2 193.4 0 187.7V6.4L8.2 0z"></path></svg>
                    </div>
                    <div class="video__label">
                        Watch the full video<span>11 minutes</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>